@page
@model IndexModel
@{
    ViewData["Title"] = "Cool Note";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Main Page!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center">
    @if (string.IsNullOrWhiteSpace(Model.Note))
    {
        <p>No notes available!</p>
    }
    else
    {
        <p>@Model.Note</p>
    }
    <small>Edits: @Model.EditsAmount</small>
    <br /><br />
    <a asp-page="/Note">Go to edit page</a>
</div>
